<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tunes</title>
    <link rel="stylesheet" href="css/styles.css" >
</head>
<body>
    <header>
        <h1>Tunes</h1>
        <ul>
            <li><a href="/">TRACKLIST</a></li>
            <li><a href="/playlist?createPlaylist=false">MY PLAYLISTS</a></li>
        </ul>
    </header>
    {{{body}}}
</body>
</html>